<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
      <input type="text" placeholder="Логин" name="username">
      <br>
      <input type="email" placeholder="Эл.почта" name="email">
      <br>
      <input type="password" placeholder="Пароль" name="password1">
      <br>
      <input type="password" placeholder="Подтвердите пароль" name="password2">
      <br>
      <button type="submit">Зарегистрироваться</button>
  </form>
</body>
</html>